@using MVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ekran logowania";
}
<link rel="stylesheet" type="text/css" href="~/Content/glowny.css" />
<h2>@ViewBag.Title.</h2>
<h3>Podaj login i hasło do swojego konta</h3>
<hr />
<div class="kontener">
    <div id="lewyLogin">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <input type="submit" value="Zaloguj" class="btn btn-default" />
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)<br />

            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@

        }
    </div>
    <div id="prawyLogin">
        <p>
            @Html.ActionLink("Nie masz konta? Zarejestruj się klikając w ten link!", "Register")
        </p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
